# Don't upload secret env vars
.env
node_modules/
build
dist/
# Don't upload virtual environments
venv/

# Don't upload Python cache files
__pycache__/
*.pyc

# SQLite database folder or backup files (if stored separately)
instance/
*.db
.vscode

# OS & Editor-specific
.DS_Store
*.log
